---
- name: Start docker node exporter container
  community.docker.docker_compose_v2:
    state: present
    project_name: prometheus_node_exporter
    definition:
      services:
        node_exporter:
          image: "{{ node_exporter_docker_image }}"
          command:
            - '--collector.systemd'
            - '--path.rootfs=/rootfs'
            - '--path.procfs=/rootfs/proc'
            - '--path.sysfs=/rootfs/sys'
            - '--path.udev.data=/rootfs/run/udev/data'
            - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|etc)($$|/)'
            - '--collector.textfile'
            - '--collector.textfile.directory={{ node_textfile_collector_dir }}'
            - '--web.listen-address={{ node_exporter_host_address }}:{{ node_exporter_host_port }}'
            - '{{ node_exporter_additional_cmd_args }}'
          container_name: "{{ node_exporter_container_name }}"
          volumes:
            - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro
            - /:/rootfs:ro
            - "{{ node_textfile_collector_dir }}:{{ node_textfile_collector_dir }}"
          security_opt: "{{ node_exporter_security_opt }}"
          hostname: "{{ ansible_host }}"
          restart: always
          labels: "{{ node_exporter_docker_labels }}"
          network_mode: host
